.sidebar {
  flex: 1;
  position: sticky;
  top: 60px;
  min-height: 100vh;
  background-color: rgb(251, 251, 255);
  padding: 0 20px;
}
.sidebarWrapper {
  color: #555;
  padding: 20px;
}
.sidebarMenu {
  margin-bottom: 8px;
}
.sidebarTitle {
  font-size: 13px;
  margin-bottom: 6px;
  color: rgb(187, 186, 186);
}
.sidebarListItem {
  display: flex;
  padding: 4px;
  border-radius: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}
.sidebarListItem svg {
  margin-left: 5px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: rgb(240, 240, 255);
}
